/*header section*/
.hero_area {
    height: 98vh;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .header_section {
    background-size: cover;
    background-position: center;
  }
  
  
  .sub_page .hero_area {
    height: auto;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .navbar-brand,
  .navbar-brand:hover {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #fafcfd;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  
  .navbar-brand img {
    width: 45px;
  }
  
  .navbar-brand span {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Ethnocentric";
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 35px;
  }

  /*end header section*/
  
  .calculadora {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
  }

  .calculadora h1 {
    color: #333;
  }

  .calculadora label {
    margin: 10px 0 5px;
  }

  .calculadora input {
    padding: 8px;
    margin-bottom: 20px;
  }

  .calculadora button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }

  .calculadora button:hover {
    background-color: #218838;
  }
