<!DOCTYPE html>
{% load static %}
<html>
  {% include 'core/header.html' %}

<body class="sub_page">
  <div class="hero_area">
    <!-- end header section -->
  </div>
  <!-- end hero area -->

  <h1>Dato de eventos</h1>
  <div class="subidadeONG">
    <label for="nombre de ONG">Nombre de ONG</label>
    <input type="text" id="username" name="username" required>
    <div>
    <label for="duracion de eventos">Duracion de Eventos</label>
    <label for="username"></label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="Actividades">
      <label for="duracion de eventos">Tipos de Actividades</label>
      <label for="username"></label>
          <input type="text" id="username" name="username" required>
      </div>
      <div class="tamaño">
        <label for="duracion de eventos">Maximo de Persona</label>
        <label for="username"></label>
            <input type="text" id="username" name="username" required>
        </div>
        <button>Registra</button>
  </div>

  <!-- end product section -->

  {% include 'core/footer.html' %}

</body>

</html>