{% load static %}
<!-- info section -->
<section class="info_section layout_padding">
  <div class="container layout_padding-top layout_padding2-bottom">
    <div class="logo-box">
      <a href="{% url 'index' %}">
        <img src="{% static 'images/info-logo.png' %}" alt="" />
      </a>
    </div>

    <div class="footerInfoItems">
      <a href="">
        <div class="item">
          <div class="img-box box-1">
            <img src="{% static 'images/location-white.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <p>Address 123 , Melipilla</p>
          </div>
        </div>
      </a>
      <a href="">
        <div class="item">
          <div class="img-box box-3">
            <img src="{% static 'images/envelope-white.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <p>demo@gmail.com</p>
          </div>
        </div>
      </a>
      <a href="">
        <div class="item">
          <div class="img-box box-2">
            <img src="{% static 'images/telephone-white.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <p>(123) 456-7890</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- end info_section -->

<!-- footer section -->
<section class="container-fluid footer_section">
  <p>
    &copy; 2019 All Rights Reserved By
    <a href="https://html.design/">Free Html Templates</a>
  </p>
</section>
<!-- footer section -->

<script
  type="text/javascript"
  src="{% static 'js/jquery-3.4.1.min.js' %}"
></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
