{% load static %}
<html>
     {% include 'core/header.html' %}
    <!-- hero section -->
    <section class="hero_section">
      <div class="hero_detail">
        <h1>
          NUESTROS EVENTOS CON MAS COCIENCIA
        </h1>
       
      </div>
      <div class="hero_btn-box">
        <a href="{% url 'registro' %}">
          Registrate y se parte de la solucion
        </a>
      </div>
    </section>
    <!-- end hero section -->
  </div>
  <!-- end hero area -->

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="about_container">
      <div class="container">
        <div class="detail">
          <h2 class="custom_heading">
            Sobre nosotros
          </h2>
          <p>
            Somo concientes de la importancia de la vida y la sostenibilidad, por eso queremos ayudarte a registrar tu evento
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="detail-2">
          <p>
            Queremos generar conciencia en la sociedad, que los momentos felices no tienen que ser a costa del medio ambiente
            y de esa manera poder ayudar a las futuras generaciones a tener un mundo mejor y disfruten de la misma manera que nosotros.
           </p>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

 
  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="col-md-6">
        <div class="d-flex mb-4 ml-4 ml-md-0">
          <h2 class="custom_heading text-center">
            CONTACT US
          </h2>
        </div>
        <form action="">
          <div>
            <input type="text" placeholder="Name" />
          </div>
          <div>
            <input type="email" placeholder="Email" />
          </div>
          <div>
            <input type="text" placeholder="Phone Number" />
          </div>
          <div>
            <input type="text" class="message-box" placeholder="Message" />
          </div>
          <div class="d-flex justify-content-center mt-4">
            <button>
              SEND
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  
  {% include 'core/footer.html' %}
 
</body>

</html>
