<!DOCTYPE html>
{% load static %}
<link href="{% static 'css/listaong.css' %}" rel="stylesheet" /> 

<html>
{% include 'core/header.html' %}

<body class="sub_page">
  <div class="hero_area">
    <!-- end header section -->
  </div>
  <!-- end hero area -->

  <h1 class="a">Listas de ONG</h1> <!-- Corregido el cierre de la etiqueta h1 -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  <!-- end about section -->

  {% include 'core/footer.html' %}
</body>
</html>
