<!DOCTYPE html>
{% load static %}
<link href="{% static 'css/listaong.css' %}" rel="stylesheet" /> 

<html>
{% include 'core/header.html' %}

<body class="sub_page">
  <div class="hero_area">
    <!-- end header section -->
  </div>
  <!-- end hero area -->
  <title>Listas de ONG</title>
  
  <style>
      body {
          font-family: Arial, sans-serif;
      }
      .table {
          width: 100%;
          border-collapse: collapse;
      }
      .table th, .table td {
          border: 1px solid #ddd;
          padding: 8px;
      }
      .table th {
          background-color: #f2f2f2;
          text-align: left;
      }
  </style>

  <h1 class="a">Listas de ONG</h1>
  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha</th>
              <th scope="col">Descripción</th>
              <th scope="col">Tamaño</th>
              <th scope="col">Duración</th>
              <th scope="col">Tipo de Actividades</th>
          </tr>
      </thead>
      <tbody>
          {% for evento in eventos %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ evento.nombre }}</td>
              <td>{{ evento.fecha }}</td>
              <td>{{ evento.descripcion }}</td>
              <td>{{ evento.tamano }}</td>
              <td>{{ evento.duracion }}</td>
              <td>{{ evento.tipo_actividades }}</td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="7">No hay eventos disponibles.</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <!-- end about section -->

  {% include 'core/footer.html' %}
</body>
</html>
