{% load static %}

<head>
  {% include 'core/header.html' %}
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Medi</title>

  <!-- slider stylesheet -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"
  />

  <!-- bootstrap core css -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/bootstrap.css' %}"
  />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/styleUser.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'css/login.css' %}" rel="stylesheet" />
  <link href="{% static 'css/casos.css' %}" rel="stylesheet" />
</head>

<body>
  <header class="header_section">
    <div class="container-fluid">
      <nav
        class="navbar navbar-expand-lg custom_nav-container"
        style="
          background-image: url('{% static 'images/bosque-desde-cielo.jpg' %}');
          background-size: cover;
        "
      >
        <a class="navbar-brand" href="#">
          <img src="{% static 'images/logo.png' %}" alt="Logo" />
          <span>Medi</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Cerrar sesion</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <!--CUERPO-->
  <div class="calculadora">
    <div>
      <h1>Calculadora de CO2</h1>
      <label for="personas">Número de personas:</label>
      <input type="number" id="personas" placeholder="Ej: 10" required />

      <label for="dias">Días:</label>
      <input type="number" id="dias" placeholder="Ej: 5" required />

      <button id="calcular">Calcular CO2</button>

      <h2 id="resultado"></h2>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
  </div>

  <div class="generarCertificado">
    <h1>Generar Certificado</h1>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" placeholder="Ej: Juan Perez" required />
    <label for="email">Email:</label>
    <input
      type="text"
      id="email"
      placeholder="Ej: juan.peres@planeta.cl"
      required
    />
    <title>Documentos en Proceso</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("generarReporte").addEventListener("click", function() {
                const reporteContainer = document.getElementById("reporteContainer");
                const newContent = `
                    <h1> documentos en procesos </h1>
                    <ul>
                        {% for document in Documentos %}
                        <li>
                            {{ document.codigo }} {{ document.nombre_caso }}
                            <a href="{{ document.archivo.url }}" download="{{ document.archivo }}">{{ document.archivo.name }}</a>
                        </li>
                        {% empty %}
                        <li>No hay documentos subidos aún.</li>
                        {% endfor %}
                    </ul>
                `;
                reporteContainer.innerHTML = newContent;
            });
        });
    </script>
</head>
<body>
    <button id="generarReporte">Generar Reporte</button>
    <div id="reporteContainer"></div>
    {% include 'core/footer.html' %}
</body>